# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directory
node_modules/

# ESLint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Parcel cache
.parcel-cache/

# Build directory
dist/

# Stylelint cache
.stylelintcache