.dealer {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;
  justify-content: center;
}

.re-cards {
  position: relative;
  top: 199px;
  right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dealer-score {
  width: 207px;
  height: 46px;
  padding: 9px;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  box-shadow: inset 9px 1px 20px 4px whitesmoke;
  text-align: center;
}
